%div#container
  %div#facial_2
    .pic= image_tag 'spa4.jpg', { class: "small-image horizontal"}
    .pic= image_tag 'spa5.jpg', {  class: "small-image horizontal"}
    -# .pic= image_tag 'spa1.jpg', {  class: "small-image"}
    .pic= image_tag 'spa2.jpg', {  class: "small-image"}
    .pic= image_tag 'spa2.jpg', {  class: "small-image"}
    .pic= image_tag 'bed.jpg', {  class: "small-image"}
    .pic= image_tag 'spa6.jpeg', {  class: "small-image"}
    .pic= image_tag 'spa7.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa8.jpeg', {  class: "small-image"}
    .pic= image_tag 'spa9.jpeg', {  class: "small-image"}
    .pic= image_tag 'spa10.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa11.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa12.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa13.jpeg',  {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa14.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa15.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa16.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa17.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa18.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa19.jpeg', {style: "float:left; margin-right:10px"}
    .pic= image_tag 'spa20.jpeg', {style: "float:left; margin-right:10px"}


