%div#container
  %div#facial_2
    .pic= image_tag 'spa2.jpg', {  class: "small-image"}
    .pic= image_tag 'bed.jpg', {  class: "small-image"}
    .pic= image_tag 'spa6.jpeg', {  class: "small-image"}
    .pic= image_tag 'new_pic.png', { class: "small-image"}
    .clear
    .pic= image_tag 'spa9.jpeg', { class: "small-image"}
    .pic= image_tag 'spa14.jpeg', { class: "small-image"}
    -# .pic= image_tag 'spa15.jpeg',{ class: "small-image"}
    .pic= image_tag 'spa17.jpeg', { class: "small-image"}
    .pic= image_tag 'spa19.jpeg', { class: "small-image"}



