<div id="container">

  <div id="content">
    <h1>Skin Essentials Services</h1>
    <p class="text">To view additional information click on an individual service.</p><br />
    <strong>
    <%= link_to "Facial treatments", facials_path, :class => "service_link" %><br /><br />

<br />
    <%= link_to "Dermalogica Retail Products", dermalogica_path, :class => "service_link" %><br /><br /><br />


    <%= link_to "Spa Parties", spa_parties_path, :class => "service_link" %><br /><br /><br />


    <%= link_to "Makeup (Bridal & Special Occasions)", makeup_path, :class => "service_link" %><br /><br /><br />


    <%= link_to "Nova Lash Eyelash Extensions", novalash_path, :class => "service_link" %><br /><br /><br />


    <%= link_to "20 minutes for $20.00 microzone treatments", microzone_path, :class => "service_link" %><br /><br /><br />


    <%= link_to "Body Massages and Waxing", other_path, :class => "service_link" %>  </strong>
   </div><!-- Closes the Container -->
 </div>
    <div id="hours"><span id="title">Hours</span>
    <ul>
      <li id="time">Tuesday:<br/> 10:00 a.m. - 9:00 p.m.</li>
      <li id="time">Wednesday:<br/> 10:00 a.m. - 9:00 p.m.</li>
      <li id="time">Thursday:<br/> 10:00 a.m. - 9:00 p.m.</li>
      <li id="time">Friday:<br/> 10:00 a.m. - 5:30 p.m.</li>
      <li id="time">Saturday:<br/> 10:00 a.m. - 4:00 p.m.</li>
    </ul>
  </div><!-- Closes the Hours -->


