<div id="container">

  <div id="facial_2">
    <h1>Skin Essentials Services</h1>
    <p class="text">To view additional information click on an individual service.</p><br />
    <strong>
    <%= link_to "Facial treatments", facials_path, :class => "service_link" %><br /><br />

<br />
    <%= link_to "Dermalogica Retail Products", dermalogica_path, :class => "service_link" %><br /><br /><br />


    <%= link_to "Makeup (Bridal & Special Occasions)", makeup_path, :class => "service_link" %><br /><br /><br />


    <%= link_to "Nova Lash Eyelash Extensions", novalash_path, :class => "service_link" %><br /><br /><br />


    <%= link_to "20 minutes for $20.00 microzone treatments", microzone_path, :class => "service_link" %><br /><br /><br />


    <%= link_to "Body Massages, Waxing and Other Services", other_path, :class => "service_link" %>  </strong>
   </div><!-- Closes the Container -->
 </div>


