<!DOCTYPE html>
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Dodge Date"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body
    %div.wrapper
      %div#page
        %div#header

          %div#logo
            =image_tag("logo.png")
          %div.nav
            %ul
              %li
                = link_to "Home", root_path
              %li
                = link_to "Gallery", gallery_path
              %li
                = link_to "Services", services_path
              %li
                = link_to "Spa Parties", services_path
              %li
                = link_to "Meet the Team", contact_path



        %div.clear
        = yield

